
$h2-color: green;

h2 {
  color: $h2-color;
}

th, td {
    padding: 15px;
    text-align: left;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background: #cce5ff;
}

div {
  // width: 300px;
  // border: 15px solid green;
  // padding: 2px;
  // margin: 1px;
}

